extends layout 

block vars
  - title = 'Component Editor'
  
block head 
  script(type="text/javascript", src=componentEditorUrl)
  script.

    $(document).ready(function(){

      var opts = {
        contentStorage: 'none',
        uploadUrl: '!{uploadUrl}',
        uploadMethod: '!{uploadMethod}',
        componentType: 'corespring-multiple-choice'
      }
      
      function onError(e){
        console.warn(e);
      }

      window.componentEditor = new org.corespring.editors.QuestionComponentEditor('.editor-holder', opts, onError);
    });

block body 
  .container
    h1 Component Editor
    .editor-holder