extends layout

block vars 
  - title = 'My Items'

block body
  .container

    h1 Create
    form(action="/items", method="POST")
      .form-group
        input#name.form-control(name="name", type='text', placeholder='name...')

      button.btn.btn-default(type='submit') Submit

    hr/
    h1 items
    hr/

    - for i in items

      div.link
        a(href="/items/#{i._id.toHexString()}") 
          | !{i.name}